SMTP_HOST = smtp.gmail.com
SMTP_PORT = 587
SMTP_USER = username
SMTP_PASS = password

MAIL_FROM = me <from@example.com>
MAIL_TO = to@example.com

PM2_APPS = appName1,appName2
# PM2_OUT_APPS = appName1
SEND_INTERVAL = 10
